{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col s12 m8 offset-m2 page_head">
    <div class="card-panel">
      <h3 class="center-align orange-text text-darken-4">
        <i
          class="fas fa-book-open prefix orange-text text-darken-4 text-shadow"
        ></i>
        Add Book
      </h3>
    </div>
  </div>
</div>

<div class="row card-panel grey lighten-5">
  <form class="col s12" method="POST" action="{{ url_for('add_book') }}">
    <!-- Field to select the category of the book -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-bookmark prefix orange-text text-darken-4"></i>
        <select
          id="category_name"
          name="category_name"
          class="validate"
          required
        >
          <option value="" disabled selected>Choose a category</option>
          {% for category in categories %}
          <option value="{{ category.category_name }}">
            {{- category.category_name -}}
          </option>
          {% endfor %}
        </select>
        <label for="category_name">Book Category</label>
      </div>
    </div>

    <!-- Field for the book title -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-book prefix orange-text text-darken-4"></i>
        <input
          id="book_title"
          name="book_title"
          minlength="5"
          maxlength="50"
          type="text"
          class="validate"
          required
        />
        <label for="book_title">Book Title</label>
      </div>
    </div>

    <!-- Field for the book author -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-feather-alt prefix orange-text text-darken-4"></i>
        <textarea
          id="book_author"
          name="book_author"
          minlength="5"
          maxlength="50"
          class="materialize-textarea validate"
          required
        ></textarea>
        <label for="book_author">Book Author</label>
      </div>
    </div>

    <!-- Field for date picker for read by date -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-calendar-day prefix orange-text text-darken-4"></i>
        <input
          id="read_by_date"
          name="read_by_date"
          type="text"
          class="datepicker validate"
          required
        />
        <label for="read_by_date">Read By Date</label>
      </div>
    </div>

    <!-- Field to indicate the priority -->
    <div class="row">
      <div class="input-field col s12">
        <div class="switch">
          <i
            class="fas fa-hand-point-right prefix orange-text text-darken-4"
          ></i>
          <label for="is_priority">
            <input type="checkbox" id="is_priority" name="is_priority" />
            <span class="lever"></span>
            Is a Priority
          </label>
        </div>
      </div>
    </div>

    <!-- Button to submit the new book -->
    <div class="row">
      <div class="col s12 center-align">
        <button
          type="submit"
          class="btn-large waves-effect waves-light orange darken-1 text-shadow"
        >
          Add Book <i class="fas fa-plus-square right"></i>
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
