{% extends "base.html" %} {% block content %}

<h3 class="orange-text text-darken-4 center-align">All Books</h3>

<ul class="collapsible">
  {% for book in books %}
  <li>
    <div class="collapsible-header white-text orange darken-4 text-shadow">
      <i class="fas fa-angle-down"></i><strong>{{ book.book_title }}</strong> :
      {{ book.read_by_date }} {% if book.is_priority == "on" %}
      <i
        class="fas fa-hand-point-left orange-text text-lighten-2 tooltipped"
        data-position="right"
        data-tooltip="Priority!"
      ></i>
      {% endif %}
    </div>
    <div class="collapsible-body">
      <strong
        ><i class="fas fa-bookmark prefix orange-text text-darken-4"></i>
        Category: {{ book.category_name }}</strong
      >
      <p>
        <i class="fas fa-feather-alt prefix orange-text text-darken-4"></i>
        Author: {{ book.book_author }}
      </p>
      <p><em>Added by: {{ book.added_by }}</em></p>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
