{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col s12 m8 offset-m2 page_head">
    <div class="card-panel">
      <h3 class="center-align orange-text text-darken-4">
        <i class="fas fa-book prefix orange-text text-darken-4 text-shadow"></i>
        All Books
      </h3>
    </div>
  </div>
</div>

<!-- Search bar to search for books -->
<div class="row card-panel grey lighten-5">
  <form action="{{ url_for('search') }}" method="post" class="col s12">
    <div class="row center-align">
      <div class="input-field col s12">
        <i class="fas fa-search prefix orange-text text-darken-4"></i>
        <input
          type="text"
          name="query"
          id="query"
          minlength="3"
          class="validate"
          required
        />
        <label for="query">Search Books</label>
      </div>
      <div class="col s12">
        <a href="{{ url_for('get_books') }}" class="red btn text-shadow"
          >Reset</a
        >
        <button type="submit" class="orange darken-1 btn text-shadow">
          <i class="fas fa-search left"></i> Search
        </button>
      </div>
    </div>
  </form>
</div>

<!-- List of all books -->
{% if books|length > 0 %}
<ul class="collapsible">
  {% for book in books %}
  <li>
    <div class="collapsible-header white-text orange darken-4 text-shadow">
      <div class="col s3">
        <i class="fas fa-angle-down"></i>

        <!-- To the reader that added books, let's show them options to edit and mark them as read -->
        {% if session.reader|lower == book.added_by|lower %}
        <!-- Trigger for read confirmation modal -->
        <a
          class="btn-small green accent-4 waves-effect waves-light modal-trigger"
          href="#readmodal"
          >Read</a
        >
        <a
          href="{{ url_for('edit_book', book_id=book._id) }}"
          class="btn-small orange lighten-1 waves-effect waves-light"
          >Edit</a
        >
        {% endif %}
      </div>

      <!-- Let's show the books saved in the database -->
      <div class="col s9">
        <strong>{{ book.book_title }}</strong>: {{ book.read_by_date }} {% if
        session.reader|lower == book.added_by|lower %} {% if book.is_priority ==
        "on" %}
        <i
          class="fas fa-hand-point-left orange-text text-lighten-2 tooltipped"
          data-position="right"
          data-tooltip="Priority!"
        ></i>
        {% endif %} {% endif %}
      </div>
    </div>
    <div class="collapsible-body">
      <strong
        ><i
          class="fas fa-bookmark prefix orange-text text-darken-4 text-shadow"
        ></i>
        Category: {{ book.category_name }}</strong
      >
      <p>
        <i
          class="fas fa-feather-alt prefix orange-text text-darken-4 text-shadow"
        ></i>
        Author: {{ book.book_author }}
      </p>
      <p><em>Added by: {{ book.added_by }}</em></p>
    </div>
  </li>

  <!-- Structure for read confirmation modal -->
  <div id="readmodal" class="modal">
    <div class="modal-content left-align">
      <h4 class="orange-text text-darken-4">
        <i
          class="fas fa-exclamation orange-text text-darken-4 text-shadow left"
        ></i>
        Read Confirmation
      </h4>
      <p class="black-text">
        Are you sure you want to mark this book as read?
      </p>
    </div>
    <div class="modal-footer">
      <a
        href="#!"
        class="modal-close waves-effect waves-green btn red text-shadow"
        >Cancel <i class="fas fa-window-close right"></i
      ></a>
      <a
        href="{{ url_for('delete_book', book_id=book._id) }}"
        class="btn green accent-4 waves-effect waves-light modal-close"
        >Read<i class="fas fa-check-double right"></i
      ></a>
    </div>
  </div>

  {% endfor %}
</ul>

{% else %}

<!-- Message if no books are found for the search query -->
<div class="row">
  <div class="col s12 m8 offset-m2 page_head">
    <div class="card-panel">
      <h3 class="center-align red-text text-darken-4">
        <i
          class="fas fa-exclamation prefix red-text text-darken-4 text-shadow"
        ></i>
        No Results Found
      </h3>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
