{% extends "base.html" %} {% block content %} {% if session.reader|lower ==
"admin"|lower %}
<div class="row">
  <div class="col s12 m8 offset-m2 page_head">
    <div class="card-panel">
      <h3 class="center-align orange-text text-darken-4">
        <i
          class="fas fa-bookmark prefix orange-text text-darken-4 text-shadow"
        ></i>
        Manage Categories
      </h3>
    </div>
  </div>
</div>

<!-- Button to allow admin to add more categories -->
<div class="row">
  <div class="col s12 center-align">
    <a
      href="{{ url_for('add_category') }}"
      class="btn-large orange darken-2 text-shadow waves-effect waves-light"
    >
      Add Category <i class="fas fa-plus-square right"></i>
    </a>
  </div>
</div>

<!-- Section to show all categories in the database -->
<div class="row">
  {% for category in categories %}
  <div class="col s12 m6 categories">
    <div class="card orange darken-4 text-shadow center-align">
      <div class="card-content white-text">
        <span class="card-title">{{ category.category_name }}</span>
      </div>
      <div class="card-action">
        <a
          href="{{ url_for('edit_category', category_id=category._id) }}"
          class="btn green accent-4 waves-effect waves-light"
          >Edit</a
        >
        <a
          href="{{ url_for('delete_category', category_id=category._id) }}"
          class="btn orange lighten-1 waves-effect waves-light"
          >Delete</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% else %}

<!-- Message to someone who tried to access this page without being the admin -->
<div class="row">
  <div class="col s12 m8 offset-m2 page_head">
    <div class="card-panel">
      <h3 class="center-align orange-text text-darken-4">
        <i class="fas fa-ban prefix orange-text text-darken-4 text-shadow"></i>
        No Admin Logged In
      </h3>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
