{% extends "base.html" %} {% block content %} {% if session.reader|lower ==
"admin"|lower %}

<div class="row">
  <div class="col s12 m8 offset-m2 page_head">
    <div class="card-panel">
      <h3 class="center-align orange-text text-darken-4">
        <i
          class="fas fa-bookmark prefix orange-text text-darken-4 text-shadow"
        ></i>
        Edit Category
      </h3>
    </div>
  </div>
</div>

<!-- The form to edit the category -->
<div class="row card-panel grey lighten-5">
  <form
    class="col s12"
    method="POST"
    action="{{ url_for('edit_category', category_id=category._id) }}"
  >
    <!-- Field for the category name -->
    <div class="row">
      <div class="input-field col s12">
        <i
          class="fas fa-bookmark prefix orange-text text-darken-4 text-shadow"
        ></i>
        <input
          id="category_name"
          name="category_name"
          minlength="3"
          maxlength="25"
          type="text"
          value="{{ category.category_name }}"
          class="validate"
          required
        />
        <label for="category_name">Category Name</label>
      </div>
    </div>

    <!-- Button to update the category -->
    <div class="row edit_category">
      <div class="col s12 center-align">
        <a
          href="{{ url_for('get_categories') }}"
          class="btn-large red text-shadow waves-effect waves-light"
          >Cancel <i class="fas fa-window-close right"></i
        ></a>
        <button
          type="submit"
          class="btn-large waves-effect waves-light green accent-4 text-shadow"
        >
          Edit Category <i class="fas fa-pen-square right"></i>
        </button>
      </div>
    </div>
  </form>
</div>

{% else %}

<div class="row">
  <div class="col s12 m8 offset-m2 page_head">
    <div class="card-panel">
      <h3 class="center-align orange-text text-darken-4">
        <i class="fas fa-ban prefix orange-text text-darken-4 text-shadow"></i>
        No Admin Logged In
      </h3>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
