{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col s12 m8 offset-m2 page_head">
    <div class="card-panel">
      <h3 class="center-align orange-text text-darken-4">
        <i
          class="fas fa-book-reader prefix orange-text text-darken-4 text-shadow"
        ></i>
        {{ username }}'s Profile
      </h3>
    </div>
  </div>
</div>

<!-- Let's show the reader's books -->
<h3 class="orange-text text-darken-4 center-align">
  <i class="fas fa-book prefix orange-text text-darken-4 text-shadow"></i> My
  Books
</h3>
<ul class="collapsible">
  {% for book in books %} {% if session.reader|lower == book.added_by|lower %}
  <li>
    <div class="collapsible-header white-text orange darken-4 text-shadow">
      <div class="col s3">
        <i class="fas fa-angle-down"></i>
        <a
          href="{{ url_for('delete_book', book_id=book._id) }}"
          class="btn-small green accent-4 waves-effect waves-light"
          >Read</a
        >
        <a
          href="{{ url_for('edit_book', book_id=book._id) }}"
          class="btn-small orange lighten-1 waves-effect waves-light"
          >Edit</a
        >
      </div>
      <div class="col s9">
        <strong>{{ book.book_title }}</strong>: {{ book.read_by_date }} {% if
        book.is_priority == "on" %}
        <i
          class="fas fa-hand-point-left orange-text text-lighten-2 tooltipped"
          data-position="right"
          data-tooltip="Priority!"
        ></i>
        {% endif %}
      </div>
    </div>
    <div class="collapsible-body">
      <strong
        ><i class="fas fa-bookmark prefix orange-text text-darken-4"></i>
        Category: {{ book.category_name }}</strong
      >
      <p>
        <i class="fas fa-feather-alt prefix orange-text text-darken-4"></i>
        Author: {{ book.book_author }}
      </p>
      <p><em>Added by: {{ book.added_by }}</em></p>
    </div>
  </li>
  {% endif %} {% endfor %}
</ul>
{% endblock%}
